@font-face {
    font-family: 'Cairo', sans-serif;
    src: url(../fonts/Cairo-Regular.ttf);
}

body {
    font-family: 'Cairo', sans-serif;
}

header {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
}

header .layer {
    background: linear-gradient(to left, rgba(41, 153, 155, 0.8)0%, rgba(167, 173, 44, 0.8)100%);
    height: 100vh;
}

nav.navbar ul.navbar-nav {
    padding-left: 0;
}

nav.navbar ul.navbar-nav li a.nav-link {
    color: #ffffff;
    font-size: 16px;
    line-height: 40px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

nav.navbar ul.navbar-nav li a.nav-link:hover,
nav.navbar ul.navbar-nav li a.nav-link.active {
    color: #16aeca;
    background-color: #ffffff;
}

nav.navbar {
    text-align: left;
    z-index: 20;
}

nav.navbar .navbar-brand img {
    width: 100%;
}

nav.navbar.noTransparrent ul.navbar-nav li a.nav-link {
    color: #16aeca;
}

nav.navbar.noTransparrent ul.navbar-nav li a.nav-link:hover,
nav.navbar.noTransparrent ul.navbar-nav li a.nav-link.active {
    color: #dae413;
    background-color: #16aeca;
}

nav.navbar.noTransparrent {
    background-color: #ffffff;
    border-bottom: 1px solid #eee;
}

nav.navbar.noTransparrent .navbar-brand img {
    width: 80%;
}