@font-face {
    font-family: ar-font;
    src: url(../fonts/Cairo-Regular.ttf);
}

body {
    font-family: ar-font;
}

header {
    background-image: url(../images/bg.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
}

header .overlay {
    background: linear-gradient(to left, rgba(41, 153, 155, 0.8) 0%, rgba(167, 173, 44, 0.8) 100%);
    min-height: 100vh;
}

nav.navbar ul.navbar-nav {
    padding-right: 0;
}

nav.navbar ul.navbar-nav li a.nav-link {
    color: #e8e8e8;
    font-size: 16px;
    line-height: 40px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    transition: all 0.5s ease;
}

nav.navbar ul.navbar-nav li a.nav-link:hover,
nav.navbar ul.navbar-nav li a.nav-link.active {
    color: #16aeca;
    background-color: #ffffff;
}

nav.navbar {
    text-align: right;
    z-index: 20;
}

nav.navbar .navbar-brand img {
    width: 100%;
}

nav.navbar.noTransparrent ul.navbar-nav li a.nav-link {
    color: #16aeca;
}

nav.navbar.noTransparrent ul.navbar-nav li a.nav-link:hover,
nav.navbar.noTransparrent ul.navbar-nav li a.nav-link.active {
    color: #dae413;
    background-color: #16aeca;
}

nav.navbar.noTransparrent {
    background-color: #ffffff;
    border-bottom: 1px solid #eee;
}

nav.navbar.noTransparrent .navbar-brand img {
    width: 80%;
}

nav.navbar button.navbar-toggler {
    margin: 30px auto;
    transition: all 1s ease;
}

nav.navbar button.navbar-toggler span {
    color: #ffffff;
}

nav.navbar.noTransparrent button.navbar-toggler span {
    color: #16aeca;
}

@media (max-width: 767px) {
    nav.navbar .container {
        /* ليصبح حجم الحاوى مساوي لحجم الشاشة */
        max-width: 100%;
        /* bootstrap لتبديل اماكن العناصر فى القائمة و لتتناسب مع النسخة الحديثة من */
        flex-direction: row-reverse;
    }
    .navbar .navbar-toggler {
        /* إلغاء الحدود الافتراضية الموجودة على زر القائمة*/
        outline: none;
        margin: 0 !important;
    }
    .navbar .navbar-toggler span {
        /* لتوسيط ايقونة زر الهاتف فى المنتصف*/
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav.navbar .navbar-brand img {
        /* تصغير حجم الصورة فى مقاس الهاتف*/
        width: 80%;
    }
}

header .overlay .slider .carousel-inner .carousel-item {
    min-height: 100vh;
    opacity: 0;
}

header .overlay .slider .carousel-inner .carousel-item .carousel-caption h3 {
    font-size: 40px;
    line-height: 60px;
    transform: translateY(-50px);
    transition: all 1s ease;
}

header .overlay .slider .carousel-inner .carousel-item .carousel-caption {
    bottom: 30%;
}

header .overlay .slider .carousel-inner .carousel-item .carousel-caption a {
    font-size: 18px;
    line-height: 50px;
    background-color: #16aeca;
    color: #ffffff;
    border-radius: 30px;
    padding: 0px 2rem;
    margin-top: 30px;
    display: inline-block;
    transform: translateY(50px);
    transition: all 1s ease;
}

header .overlay .slider .carousel-inner .carousel-item.active .carousel-caption h3,
header .overlay .slider .carousel-inner .carousel-item.active .carousel-caption a {
    transform: translateY(0px);
}

header .overlay .slider .carousel-inner .carousel-item .carousel-caption a:hover {
    text-decoration: none;
    background-color: #dae413;
    color: #555555;
}

header .overlay .slider .carousel-inner .carousel-item.active {
    opacity: 1;
}

header .overlay .slider .carousel-inner .carousel-item.active .carousel-caption {
    opacity: 1;
}

header .overlay .slider .carousel-control-prev i,
header .overlay .slider .carousel-control-next i {
    padding: 30px 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

section.services {
    padding: 20px 0 60px;
}

section.services .title h2 {
    font-size: 40px;
    line-height: 60px;
}

section.services .title {
    margin-bottom: 50px;
}

section.services .card {
    background-color: #ffffff;
    margin-bottom: 50px;
    width: 100%;
    height: 250px;
    transition: all 1s ease-in-out;
}

section.services .card:hover {
    height: 350px;
    transition: height 0.5s ease-in-out;
}

section.services .card img {
    width: 140px;
    margin: 40px auto 0;
    transition: all 1s ease-in-out;
}

section.services .card .card-block h4 {
    font-size: 24px;
    color: #070c0c;
    line-height: 35px;
}

section.services .card .card-block p {
    font-size: 15px;
    color: #919191;
    line-height: 20px;
    opacity: 0;
    transition: all 1s ease-in-out;
    padding-left: 2px;
    padding-right: 2px;
    transition: opacity 0.5s ease-in-out;
}

section.services .card:hover .card-block p {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

section.gallery .title h2 {
    font-size: 40px;
    line-height: 60px;
}

section.gallery .title {
    margin-bottom: 50px;
}

section.gallery .work-gallery a {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

section.gallery .work-gallery a .hover {
    background-color: rgba(22, 147, 202, 0.9);
    position: absolute;
    top: 5%;
    right: 5%;
    height: 90%;
    width: 90%;
    color: #fff;
    opacity: 0;
}

section.gallery .work-gallery a:hover .hover {
    opacity: 1;
    transition: all 0.5s ease;
}

section.gallery .work-gallery a .hover i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2em;
    transform: translate(-50%, -50%);
}