@font-face {
    font-family: ar-font;
    src: url(../fonts/Cairo-Regular.ttf);
}

body {
    font-family: ar-font;
    direction: rtl;
    overflow-x: hidden;
}

section.banner {
    background-image: url(../images/bg-1.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    z-index: -3;
    text-align: right;
    position: relative;
}

section.banner .overlay {
    background-color: rgba(239, 71, 58, 0.8);
    z-index: -2;
    position: relative;
    padding-top: 90px;
}

section.banner .overlay .images {
    position: absolute;
    bottom: -250px;
    right: 0px;
    z-index: -1;
}

section.banner .overlay .images img {
    max-width: 100%;
}

section.banner .overlay .app-icon img {
    margin-top: 120px;
    margin-bottom: 50px;
}

section.banner .overlay .banner-text h1 {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 40px;
}

section.banner .overlay .banner-text p {
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    margin-bottom: 40px;
}

section.banner .overlay .banner-text button {
    margin: 40px 0;
    background-color: #fafafa;
    line-height: 50px;
}

section.banner .overlay .banner-text button img {
    width: 50px;
    vertical-align: sub;
}

section.banner .overlay .banner-text button i {
    font-size: 50px;
}

section.banner .overlay .banner-text button p {
    display: inline-block;
    font-size: 15px;
    line-height: 25px;
    font-family: ar-font;
    color: #232323;
    text-align: right!important;
}

section.banner .overlay .banner-text button p span {
    font-size: 18px;
}

section.banner .overlay .banner-text button:last-child {
    margin-right: 20px;
}

section.feature {
    background-color: #fff;
    padding: 80px 0px;
}

section.feature .features {
    margin-top: 90px;
}

section.feature .features .media {
    margin-bottom: 70px;
}

section.feature .features .media-body h5 {
    font-size: 24px;
    color: #080808;
    margin-bottom: 12px;
}

section.feature .features .media-body p {
    font-size: 15px;
    color: #757474;
    line-height: 20px;
}

section.feature .features .media i {
    width: 70px;
    height: 70px;
    color: #fff;
    background-color: #ef473a;
    line-height: 70px;
    border-radius: 2px;
    text-align: center;
}

section.feature .mobile-img img {
    width: 80%;
    margin: 0 auto;
    display: block;
}

section.option {
    padding: 120px 0;
    background-color: #f8f8f8;
    z-index: -2;
    position: relative;
    text-align: right;
}

section.option .images {
    position: absolute;
    bottom: -150px;
    z-index: -1;
}

section.option .options {
    margin-bottom: 40px;
    margin-right: 40px;
}

section.option .options .media {
    margin-bottom: 60px;
}

section.option .options .media h5 {
    font-size: 24px;
    line-height: 40px;
    color: #141414;
}

section.option .options .media p {
    font-size: 15px;
    line-height: 20px;
    color: #757474;
}

section.slider {
    background-color: #fff;
    padding: 80px 0;
}

section.slider .title {
    margin-bottom: 60px;
}

section.slider .title h3 {
    font-size: 36px;
}

section.slider .carousel-inner {
    width: 60%;
    margin: 0 auto;
}

section.slider .carousel-indicators {
    bottom: -60px;
    padding: 0;
}

section.slider .carousel-indicators li {
    width: 20px;
    height: 20px;
    border: 1px solid #ef473a;
    border-radius: 50%;
}

section.slider .carousel-indicators li.active {
    background-color: #ef473a;
}

section.slider .carousel-control-next,
section.slider .carousel-control-prev {
    width: 70px;
    height: 70px;
    border: 1px solid #ef473a;
    border-radius: 50%;
    color: #ef473a;
    opacity: 1;
    margin: auto;
}

@media (max-width:767px) and (min-width:576px) {
    section.banner .overlay .images {
        bottom: -500px;
        right: 20%;
    }
    section.banner .overlay .app-icon img {
        margin-top: 0px;
        margin-bottom: 30px;
    }
    section.banner .overlay .banner-text {
        margin-bottom: 350px;
    }
    section.banner .overlay .banner-text button {
        padding: .5rem 1rem;
        line-height: 40px;
    }
    section.banner .overlay .banner-text button img {
        width: 40px;
        vertical-align: sub;
    }
    section.banner .overlay .banner-text button i {
        width: 40px;
    }
}

@media (max-width:575px) {
    section.banner .overlay .images {
        bottom: -500px;
        right: 5%;
        left: 5%;
    }
    section.banner .overlay .app-icon img {
        margin: 0 auto 30px;
        display: block;
    }
    section.banner .overlay .banner-text {
        margin-bottom: 350px;
        text-align: center;
    }
    section.banner .overlay .banner-text button:last-child {
        margin-right: 0px;
    }
    section.option .images {
        bottom: -400px;
    }
    section.option .options {
        margin-bottom: 300px;
    }
    section.slider .carousel-control-next,
    section.slider .carousel-control-prev {
        width: 35px;
        height: 35px;
    }
}