@font-face {
    font-family: "cairoFont";
    src: url(../font/Cairo-Regular.ttf);
}

body {
    font-family: "cairoFont", Arial, Helvetica, sans-serif;
    background-color: #fafafa;
}

a {
    color: #000;
    text-decoration: none !important;
}

button {
    background-color: transparent !important;
    color: #bf40bf !important;
    border-color: #bf40bf !important;
}

button:hover {
    background-color: #bf40bf !important;
    color: #fff !important;
}

#top-menu .bg-light {
    background-color: #fff !important;
}

#top-menu .video-icon {
    background-color: #bf40bf;
    color: #fff;
    border-radius: 15%;
}

.navbar .navbar-nav .nav-link:hover {
    background-color: #bf40bf;
    color: #fff;
}

.navbar .navbar-nav .active>.nav-link {
    background-color: #bf40bf;
    color: #fff;
}

.navbar .navbar-nav .nav-link {
    border-radius: 15%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.navbar .login {
    color: #bf40bf;
}

input.form-control:focus,
button:focus {
    box-shadow: none !important;
}

.card .card-icons {
    position: relative;
}

time {
    position: absolute;
    bottom: 10px;
    left: 7px;
    color: #fff;
    background-color: #000;
    padding: 0px 3px;
}

.card .fa-play {
    position: absolute;
    opacity: 80%;
    top: 50%;
    right: 50%;
    color: #bf40bf;
    display: none;
}

.card:hover .fa-play {
    display: inline;
}

.card:hover {
    transform: translateY(-.9%);
}

.card {
    transition: transform .5s;
}