.history-right-column {
    background-color: #fff;
    height: 566px;
}

.list-group-item.active {
    background-color: #bf40bf;
    border-color: #bf40bf;
}

.list-group-item {
    padding-top: 12px;
    padding-bottom: 12px;
}

#search-filters-icon {
    cursor: pointer;
}

.search-header .filter-column {
    display: none;
}

input:checked+span {
    color: #bf40bf;
}

time {
    bottom: 7px;
    right: 1px;
}

.card .card-horizontal .card-body p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body {
    min-width: 0;
}

.card .img-square-wrapper .Card-img {
    width: 100%;
    height: auto;
}

.history-page .remove {
    position: absolute;
    top: 10px;
    left: 13px;
    color: #2c3131c7;
    cursor: pointer;
}

@media (min-width: 768px) {
    .card .card-horizontal .fa-play {
        right: 35%;
        top: 40%;
    }
    .card .img-square-wrapper .Card-img {
        width: 100%;
        height: auto;
    }
    .card .card-horizontal time {
        bottom: 7px;
        right: 1px;
    }
}

@media (min-width: 991px) {
    .card .card-horizontal .fa-play {
        right: 42%;
        top: 40%;
    }
    .card .img-square-wrapper .Card-img {
        width: 200px;
        height: auto;
    }
    .card .card-horizontal time {
        bottom: 12px;
        right: 1px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .card .img-square-wrapper .Card-img {
        width: 300px !important;
        height: 100% !important;
    }
    .card .card-horizontal .card-body .channel-img {
        display: block;
        margin-top: 10px;
    }
    h4 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .card .card-horizontal .card-body .channel-img>img {
        margin-left: 0px !important;
    }
}

@media (max-width: 991px) {
    .card {
        margin-top: 30px;
    }
}