@font-face {
    font-family: "JF Flat Regular";
    src: url(../fonts/Cairo-Regular.ttf);
    font-weight: bolder;
    font-style: normal;
}

body {
    background-color: #000000;
    font-family: 'Cairo', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #555555;
    line-height: 1.429;
}

section.banner {
    background-image: url('../images/bgmain.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 1px;
    background-repeat: no-repeat;
}

button a {
    color: #fff;
    text-decoration: none;
}

button a:hover {
    text-decoration: none;
}

.row.heding-text {
    margin-top: 100px !important;
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: center!important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

nav.navbar ul.navbar-nav li a.nav-link {
    color: #047ccc;
    position: relative;
}

nav.navbar ul.navbar-nav li a.nav-link:hover,
nav.navbar ul.navbar-nav li a.nav-link.active,
nav.navbar ul.navbar-nav li a.nav-link:focus,
nav.navbar ul.navbar-nav li a.nav-link.active:focus,
nav.navbar ul.navbar-nav li a.nav-link.active:hover {
    color: #047ccc;
}

nav.navbar.noTransparrent ul.navbar-nav li a.nav-link {
    color: #047ccc;
}

nav.navbar.noTransparrent ul.navbar-nav li a.nav-link:hover,
nav.navbar.noTransparrent ul.navbar-nav li a.nav-link.active,
nav.navbar.noTransparrent ul.navbar-nav li a.nav-link:focus,
nav.navbar.noTransparrent ul.navbar-nav li a.nav-link.active:focus,
nav.navbar.noTransparrent ul.navbar-nav li a.nav-link.active:hover {
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
}

.navbar-nav a.active::after {
    content: '';
    border-bottom: 2px solid #047ccc;
    position: absolute;
    left: 0;
    top: 53%;
    width: 10%;
}

nav.navbar.noTransparrent {
    border-bottom: 1px solid #047ccc;
    border-radius: 0;
    background-color: #ffffff;
}

nav.navbar button.navbar-toggler {
    color: #047ccc;
    float: left;
    margin-left: 0px;
}

nav.navbar.noTransparrent button.navbar-toggler {
    margin-top: 1px;
    margin-bottom: 1px;
    color: #047ccc;
}

nav.navbar.noTransparrent button.navbar-toggler span {
    color: #047ccc;
}

.navbar-brand img {
    width: 160px;
    height: auto;
}

.row.heding-text {
    margin-top: 50px !important;
    text-align: center;
    padding-top: 320px;
}

.row.heding-text h1 {
    font-size: 120px;
    color: #047ccc;
}

.row.heding-text p {
    font-size: 16px;
    color: #f4f4f4;
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;
}

.row.heding-text button.custom-btn {
    font-size: 20px;
    line-height: 45px;
    color: #f4f4f4;
    background-color: #047ccc;
    border-radius: 0px;
    border: none;
    padding: 10px 30px;
}

section.skiles {
    margin-top: 120px;
}

section.skiles .skilesheading {
    margin-bottom: 45px;
}

section.skiles h2 {
    font-size: 46px;
    color: #047ccc;
    width: 30%;
    line-height: 56px;
    margin-bottom: 20px;
}

section.skiles p {
    font-size: 24px;
    color: #ffffff;
    width: 60%;
    line-height: 36px;
    padding: auto;
    margin-top: 20px;
}

#progressbar {
    margin-top: 45px !important;
}

.progress-title {
    font-size: 18px;
    font-weight: 44px;
    color: #fff;
    margin: 0 0 20px;
    text-align: left;
}

.progress {
    height: 10px;
    background: #aeaeae;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible;
}

.progress .progress-bar1 {
    border-radius: 0px;
    box-shadow: none;
    position: relative;
    animation: animate-positive 1s;
    width: 75%;
    background: #047ccc;
    overflow: visible !important;
}

.progress .progress-bar1:after {
    content: "";
    width: 17px;
    height: 17px;
    line-height: 17px;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    bottom: -2px;
    right: 7px;
    z-index: 0;
}

.progress .progress-bar1:before {
    content: "";
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    background: transparent;
    border: 8px solid rgba(30, 23, 238, 0.6);
    position: absolute;
    bottom: -10px;
    right: -1px;
    z-index: 1;
}

.progress-bar1 .percent1 {
    position: absolute;
    animation: animate-positive 0.1s;
    width: 100%;
    top: -68px;
    font-size: 18px;
}

.progress .progress-bar2 {
    border-radius: 0px;
    box-shadow: none;
    position: relative;
    animation: animate-positive 1s;
    width: 70%;
    background: #047ccc;
    overflow: visible !important;
}

.progress .progress-bar2:after {
    content: "";
    width: 17px;
    height: 17px;
    line-height: 17px;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    bottom: -2px;
    right: 7px;
    z-index: 0;
}

.progress .progress-bar2:before {
    content: "";
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    border: 8px solid rgba(30, 23, 238, 0.6);
    position: absolute;
    bottom: -10px;
    right: -1px;
    z-index: 1;
}

.progress-bar2 .percent2 {
    position: absolute;
    animation: animate-positive 0.1s;
    width: 100%;
    top: -68px;
    font-size: 18px;
}

.progress .progress-bar3 {
    border-radius: 0px;
    box-shadow: none;
    position: relative;
    animation: animate-positive 1s;
    width: 40%;
    background: #047ccc;
    overflow: visible !important;
}

.progress .progress-bar3:after {
    content: "";
    width: 17px;
    height: 17px;
    line-height: 17px;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    bottom: -2px;
    right: 7px;
    z-index: 0;
}

.progress .progress-bar3:before {
    content: "";
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    border: 8px solid rgba(30, 23, 238, 0.6);
    position: absolute;
    bottom: -10px;
    right: -1px;
    z-index: 1;
}

.progress-bar3 .percent3 {
    position: absolute;
    animation: animate-positive 0.1s;
    width: 100%;
    top: -68px;
    font-size: 18px;
}

.progress .progress-bar4 {
    border-radius: 0px;
    box-shadow: none;
    position: relative;
    animation: animate-positive 1s;
    width: 50%;
    background: #047ccc;
    overflow: visible !important;
}

.progress .progress-bar4:after {
    content: "";
    width: 17px;
    height: 17px;
    line-height: 17px;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    bottom: -2px;
    right: 7px;
    z-index: 0;
}

.progress .progress-bar4::before {
    content: "";
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    border: 8px solid rgba(30, 23, 238, 0.6);
    position: absolute;
    bottom: -10px;
    right: -1px;
    z-index: 1;
}

.progress-bar4 .percent4 {
    position: absolute;
    animation: animate-positive 0.1s;
    width: 100%;
    top: -68px;
    font-size: 18px;
}

@keyframes animate-positive {
    0% {
        width: 0;
    }
}

section.infos .overlay {
    background-color: #047ccc !important;
    height: 320px;
    margin-top: 173px;
}

section.infos .custom-box {
    border-radius: 0px;
    border: 4px solid #fff;
    margin: 100px 2px;
}

section.infos h3 {
    font-size: 50px;
    line-height: 56px;
    color: #fff;
}

section.infos p {
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}

section.infos .custom-box:first-of-type {
    margin-left: 0;
}

section.infos .custom-box:last-child {
    margin-right: 0;
}

section.experience h2 {
    font-size: 50px;
    color: #047ccc;
    width: 30%;
    line-height: 56px;
    margin-bottom: 30px;
    position: relative;
    margin-top: 120px;
    text-transform: uppercase;
}

section.experience .experience h2::after {
    content: 'Experience';
    font-size: 96px;
    color: rgba(21, 15, 255, 0.1);
    width: 108%;
    line-height: 110px;
    position: absolute;
    top: -60%;
    right: -5%;
    z-index: -2;
}

section.experience p {
    font-size: 18px;
    color: #ffffff;
    width: 40%;
    line-height: 36px;
    padding: auto;
    margin-top: 20px;
}

section.experience .custom-box {
    border-radius: 0px;
    border: 3px solid #047ccc;
    margin: 100px 2px;
    position: relative;
    width: 100%;
    height: 50%;
}

section.experience .custom-box::after {
    font-family: 'FontAwesome';
    font-weight: 900;
    content: '\f0b1';
    border-radius: 50%;
    border: 2px solid #047ccc;
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 25px;
    color: #f4f4f4;
    top: 45px;
    left: 22px;
}

section.experience .custom-box.active {
    background-color: #047ccc;
}

section.experience .custom-box.active::after {
    border: 2px solid #fff;
}

section.experience h4 {
    font-size: 24px;
    color: #fff;
    line-height: 24px;
    margin-bottom: 30px;
    margin-top: 140px;
    padding-left: 27px;
    padding-right: 27px;
}

section.experience h4 span {
    font-size: 18px;
    color: #fff;
    line-height: 24px;
}

section.education .education h2 {
    font-size: 40px;
    color: #047ccc;
    width: 30%;
    line-height: 56px;
    margin-bottom: 30px;
    position: relative;
    margin-top: 120px;
}

section.experience .education h2::after {
    content: 'Education';
    font-size: 96px;
    color: rgba(21, 15, 255, 0.1);
    width: 108%;
    line-height: 110px;
    position: absolute;
    top: -60%;
    right: -5%;
    z-index: -2;
}

section.experience .education p {
    font-size: 18px;
    color: #ffffff;
    width: 40%;
    line-height: 36px;
    padding: auto;
    margin-top: 20px;
}

section.experience .custom-box2 {
    border-radius: 0px;
    border: 3px solid #047ccc;
    margin: 100px 2px;
    position: relative;
    display: block;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

section.experience .custom-box2::after {
    font-family: 'FontAwesome';
    font-weight: 900;
    content: '\f19d';
    border-radius: 50%;
    border: 2px solid #047ccc;
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 25px;
    color: #f4f4f4;
    top: 45px;
    left: 22px;
}

section.experience .custom-box2.active {
    background-color: #047ccc;
}

section.experience .custom-box2.active::after {
    border: 2px solid #fff;
}

section.icons .overlay {
    background-color: #047ccc !important;
    height: 160px;
    margin-top: 173px;
}

section.icons img {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90px;
}

section.icons .nodicon {
    padding-top: 25px;
}


/**
here
**/

section.portfolio .portfolio h2 {
    font-size: 50px;
    color: #047ccc;
    width: 30%;
    line-height: 56px;
    margin-bottom: 30px;
    position: relative;
    margin-top: 120px;
    text-transform: uppercase;
}

section.portfolio .portfolio h2::after {
    content: 'Portfolio';
    font-size: 96px;
    color: rgba(21, 15, 255, 0.1);
    width: 108%;
    line-height: 110px;
    position: absolute;
    top: -60%;
    right: -5%;
    z-index: -2;
}

section.portfolio .portfolio p {
    font-size: 18px;
    color: #ffffff;
    width: 40%;
    line-height: 36px;
    padding: auto;
    margin-top: 20px;
}

section.portfolio .custom-card {
    margin-top: 20px;
    display: inline-flex;
}

section.portfolio .card {
    padding: 0;
    border-radius: 0%;
    border: 6px solid #047ccc;
}

section.portfolio .card-body {
    padding: 0;
    width: 100%;
    height: 250PX;
    overflow: hidden;
    position: relative;
    transition: 0.5s ease;
}

section.portfolio .card-body:hover {
    transform: scale(0.9);
}

section.portfolio .card:hover {
    border: none !important;
    background: transparent !important;
}

section.portfolio .card img {
    width: 100%;
    height: auto;
    transform: translateY(0%);
    transition: 1.5s ease;
}

section.portfolio .card img:hover {
    width: 100%;
    height: auto;
    transform: translateY(-62%);
}

section.portfolio .card img.short:hover {
    width: 100%;
    height: auto;
    transform: translateY(-30%);
}

section.portfolio .card img:hover {
    width: 100%;
    height: auto;
    transform: translateY(-62%);
}

section.portfolio .card .card-body .btn1 {
    background-color: black !important;
    border-top: 6px solid #047ccc;
    border-right: 6px solid #047ccc;
    border-left: none;
    border-bottom: none;
    border-radius: 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
}

section.portfolio .card .card-body .btn2 {
    background-color: black !important;
    border-top: 6px solid #047ccc;
    border-left: 6px solid #047ccc;
    border-right: none;
    border-bottom: none;
    border-radius: 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
}

section.portfolio .card .card-body:hover .btn1,
section.portfolio .card .card-body:hover .btn2 {
    border: 6px solid #047ccc;
}

section.icons2 .heading h2 {
    font-size: 60px;
    color: #fff;
    line-height: 46px;
    padding-top: 130px;
    margin-bottom: 37px;
    z-index: 2;
    position: relative;
}

section.icons2 .heading .custom-btn {
    font-size: 20px;
    line-height: 35px;
    background-color: transparent;
    border-radius: 0px;
    border: 3px solid #fff;
    color: #fff;
    margin-top: 37px;
    z-index: 2;
}

section.icons2 .overlay {
    background-color: #047ccc;
    height: 435px;
    margin-top: 173px;
    padding: 0;
    z-index: 1;
    position: relative;
}

section.icons2 .overlay .icon1 {
    position: absolute;
    bottom: 16px;
    left: 75px;
    z-index: -1;
}

section.icons2 .overlay .icon2 {
    position: absolute;
    left: 41%;
    top: 7%;
    z-index: -1;
}

section.icons2 .overlay .icon3 {
    position: absolute;
    right: 120px;
    top: 40px;
    z-index: -1;
}

.container.contact-us h2 {
    font-size: 50px;
    color: #047ccc;
    width: 50%;
    line-height: 56px;
    margin-bottom: 30px;
    position: relative;
    margin-top: 120px;
}

.container.contact-us h2::after {
    content: 'CONTACT';
    font-size: 96px;
    color: rgba(21, 15, 255, 0.1);
    width: 108%;
    line-height: 110px;
    position: absolute;
    top: -60%;
    right: -5%;
    z-index: -2;
}

.container.contact-us p {
    font-size: 18px;
    color: #ffffff;
    width: 80%;
    line-height: 36px;
    padding: auto;
    margin-top: 20px;
}

#contact-options h4 {
    font-size: 18px;
    padding-bottom: 12px;
    color: #fff;
}

#contact-options .heading-with-border-bottom {
    margin-bottom: 30px;
    border-bottom: 2px solid #047ccc;
}

#contact-info {
    margin-bottom: 25px;
    color: #fff;
}

#contact-info .fa-lg {
    color: #047ccc;
    font-size: 18px;
    margin: 10px 10px 10px 0px;
    width: 25px;
    text-align: center;
}

#contact-options textarea {
    height: 128px !important;
}

#contact-options .custom-input-details {
    background-color: transparent;
    border-radius: 0;
    border: 2px solid #047ccc;
}

#contact-options .custom-input-details::placeholder {
    color: #a3a3a3;
}

#contact-options {
    margin-bottom: 25px;
}

.custom-btn-with-icon {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
}

.custom-btn-primary2 {
    color: #ffffff;
    background-color: #047ccc;
    border-color: #047ccc;
    border-radius: 0px;
    font-size: 20px;
    line-height: 45px;
}

#footer-copyright-social {
    background-color: #047ccc;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 700;
    height: 80px;
}

#footer-copyright-social a {
    color: #fff;
    margin-left: 5px;
    margin-right: 5px
}

#footer-copyright-social a:hover {
    text-decoration: none;
}

@media (min-width:1199px) {
    section.skiles h2 {
        font-size: 36px;
        color: #047ccc;
        width: 60%;
        line-height: 46px;
        margin-bottom: 20px;
    }
    section.icons2 .overlay img {
        width: 180px;
    }
    section.icons2 .overlay img.icon2 {
        width: 300px;
        left: 38%;
        top: 18%;
    }
    section.infos .custom-box {
        margin: 80px 2px;
    }
}

@media (min-width:991px) and (max-width:1199px) {
    .row.heding-text h1 {
        font-size: 80px;
    }
    .row.heding-text {
        margin-top: 200px !important;
        padding-top: 200px;
        padding-bottom: 100px;
    }
    .row.heding-text p {
        font-size: 16px;
        color: #f4f4f4;
        padding-left: 120px;
        padding-right: 120px;
        text-align: justify;
    }
    section.skiles h2 {
        font-size: 40px;
        width: 70%;
    }
    section.infos .custom-box {
        margin: 80px 2px;
    }
}

@media (max-width:991px) and (min-width:767px) {
    .row.heding-text h1 {
        font-size: 70px;
    }
    .row.heding-text {
        margin-top: 200px !important;
        padding-top: 200px;
        padding-bottom: 100px;
    }
    section.skiles h2 {
        font-size: 36px;
        color: #047ccc;
        width: 60%;
        line-height: 46px;
        margin-bottom: 20px;
    }
    section.infos .custom-box {
        border-radius: 0px;
        border: 4px solid #fff;
        margin: 10px 2px 2px 10px;
    }
    section.experience h4 {
        font-size: 20px;
        margin-bottom: 15px;
        margin-top: 35px;
    }
    section.experience h4 span {
        font-size: 16px;
        text-align: left;
    }
    section.experience h2,
    section.experience .education h2,
    section.portfolio h2 {
        margin-top: 75px;
    }
    section.experience p,
    section.experience .education p,
    section.portfolio p {
        width: 80% !important;
    }
    section.experience .custom-box p {
        width: 100% !important;
    }
    section.experience .custom-box::after,
    section.experience .custom-box2::after {
        width: 35px;
        height: 35px;
        line-height: 35px;
        top: 1px;
        left: 1px;
    }
    section.icons .overlay {
        margin-top: 50px;
    }
    section.portfolio .card-body {
        height: 175PX;
    }
    section.icons2 .overlay {
        height: 235px;
    }
    section.icons2 .heading h2 {
        font-size: 30px;
        padding-top: 26px;
    }
    section.icons2 .heading .custom-btn {
        font-size: 15px;
        line-height: 25px;
        margin-top: 12px;
        margin-left: -8px;
    }
    section.icons2 .overlay img {
        width: 150px;
    }
    section.icons2 .overlay img.icon2 {
        width: 269px;
        left: 36.5%;
        top: 24%;
    }
}

@media (max-width:767px) and (min-width:575px) {
    .home-container {
        max-width: 100%;
    }
    .row.heding-text h1 {
        font-size: 50px;
    }
    .row.heding-text p {
        font-size: 16px;
        width: auto;
        text-align: justify;
    }
    .row.heding-text {
        margin-top: 100px !important;
        padding-top: 200px;
        padding-bottom: 100px;
    }
    section.skiles h2 {
        font-size: 26px;
        width: 80%;
        line-height: 36px;
    }
    .experience-container,
    .education-container,
    .icons-container,
    .portfolio-container {
        max-width: 100%;
    }
    .container.contact-us h2,
    section.portfolio .portfolio h2,
    section.experience h2 {
        width: 100%;
    }
    section.infos .custom-box {
        margin: 2px 2px !important;
    }
    section.portfolio .portfolio h2::after {
        display: none;
    }
    section.experience .education h2::after {
        display: none;
    }
    section.experience .experience h2::after,
    .container.contact-us h2::after,
    section.icons2 .heading h2::after {
        display: none;
    }
    section.experience .custom-box,
    section.experience .custom-box2 {
        margin: 10px 2px;
        max-width: 100%;
        height: 350px;
        display: inline-block;
    }
}

@media (max-width:767px) {
    section.icons2 .overlay img {
        width: 120px;
    }
    section.icons2 .overlay img.icon2 {
        width: 200px;
        left: 37%;
        top: 39%;
    }
    nav .nav-container {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    section.icons .overlay img {
        margin-top: 20px;
        width: 60px;
    }
}

@media (max-width:575px) {
    .home-container {
        width: 100% !important;
        text-align: left !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .row.heding-text {
        margin-top: 100px !important;
        padding-top: 100px;
        padding-bottom: 20px;
        text-align: center!important;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .row.heding-text h1 {
        font-size: 45px;
    }
    .row.heding-text button.custom-btn {
        font-size: 20px;
        line-height: 35px;
        color: #f4f4f4;
        padding: 10px 30px;
    }
    section.icons2 .overlay {
        height: 235px;
    }
    section.icons2 .overlay img {
        width: 60px;
    }
    section.icons2 .overlay img.icon1 {
        left: 4%;
        top: 72%;
    }
    section.icons2 .overlay img.icon2 {
        width: 140px;
        left: 38%;
        top: 26%;
    }
    section.icons2 .overlay img.icon3 {
        right: 4%;
        bottom: 72%;
    }
    section.icons2 .heading h2 {
        font-size: 30px;
        padding-top: 30px;
        margin-bottom: 10px;
    }
    section.icons2 .heading .custom-btn {
        font-size: 20px;
    }
    section.skiles h2 {
        font-size: 26px;
        width: 80%;
        line-height: 36px;
    }
    .skiles-container {
        max-width: 90%;
    }
    section.infos .overlay {
        height: 300px;
    }
    .infos-box {
        margin-top: 20px;
        margin-bottom: 20px;
        display: inline-block;
    }
    section.infos .custom-box {
        margin: 2px !important;
    }
    section.infos h3 {
        font-size: 20px;
        line-height: 36px;
        padding: 0px;
    }
    section.infos p {
        font-size: 15px;
        line-height: 25px;
        padding: 0px;
    }
    section.experience .custom-box,
    section.experience .custom-box2 {
        margin: 10px 2px;
        max-width: 100%;
        height: 350px;
    }
    section.icons .overlay {
        height: 120px;
    }
    section.icons .overlay img {
        width: 60px;
    }
    section.portfolio .portfolio h2::after {
        display: none;
    }
    section.experience .education h2::after {
        display: none;
    }
    section.experience .experience h2::after,
    .container.contact-us h2::after,
    section.icons2 .heading h2::after {
        display: none;
    }
    .container.contact-us h2,
    section.portfolio .portfolio h2,
    section.experience h2 {
        width: 100%;
        font-weight: 800;
    }
}

@media (max-width:575px) {}

@media (min-width:300px) and (max-width:767px) {
    .navbar-brand img {
        width: 80px;
        float: left !important;
    }
    section.experience .custom-box,
    section.experience .custom-box2 {
        overflow: scroll !important;
        height: 95%;
    }
}