@font-face {
    font-family: ar-font;
    src: url(../fonts/Cairo-Regular.ttf);
}

body {
    font-family: ar-font;
}

header {
    background-image: url(../images/bg.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
}

header .overlay {
    background: linear-gradient(to left, rgba(41, 153, 155, 0.8) 0%, rgba(167, 173, 44, 0.8) 100%);
    min-height: 100vh;
}

nav.navbar ul.navbar-nav {
    padding-right: 0;
}

nav.navbar ul.navbar-nav li a.nav-link {
    color: #e8e8e8;
    font-size: 16px;
    line-height: 40px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    transition: all 0.5s ease;
}

nav.navbar ul.navbar-nav li a.nav-link:hover,
nav.navbar ul.navbar-nav li a.nav-link.active {
    color: #16aeca;
    background-color: #ffffff;
}

nav.navbar {
    text-align: right;
    z-index: 20;
}

nav.navbar .navbar-brand img {
    width: 100%;
}

nav.navbar.noTransparrent ul.navbar-nav li a.nav-link {
    color: #16aeca;
}

nav.navbar.noTransparrent ul.navbar-nav li a.nav-link:hover,
nav.navbar.noTransparrent ul.navbar-nav li a.nav-link.active {
    color: #dae413;
    background-color: #16aeca;
}

nav.navbar.noTransparrent {
    background-color: #ffffff;
    border-bottom: 1px solid #eee;
}

nav.navbar.noTransparrent .navbar-brand img {
    width: 80%;
}

nav.navbar button.navbar-toggler {
    margin: 30px auto;
    transition: all 1s ease;
}

nav.navbar button.navbar-toggler span {
    color: #ffffff;
}

nav.navbar.noTransparrent button.navbar-toggler span {
    color: #16aeca;
}

header .overlay .slider .carousel-inner .carousel-item {
    min-height: 100vh;
    opacity: 0;
}

header .overlay .slider .carousel-inner .carousel-item .carousel-caption h3 {
    font-size: 40px;
    line-height: 60px;
    transform: translateY(-50px);
    transition: all 1s ease;
}

header .overlay .slider .carousel-inner .carousel-item .carousel-caption {
    bottom: 30%;
}

header .overlay .slider .carousel-inner .carousel-item .carousel-caption a {
    font-size: 18px;
    line-height: 50px;
    background-color: #16aeca;
    color: #ffffff;
    border-radius: 30px;
    padding: 0px 2rem;
    margin-top: 30px;
    display: inline-block;
    transform: translateY(50px);
    transition: all 1s ease;
}

header .overlay .slider .carousel-inner .carousel-item.active .carousel-caption h3,
header .overlay .slider .carousel-inner .carousel-item.active .carousel-caption a {
    transform: translateY(0px);
}

header .overlay .slider .carousel-inner .carousel-item .carousel-caption a:hover {
    text-decoration: none;
    background-color: #dae413;
    color: #555555;
}

header .overlay .slider .carousel-inner .carousel-item.active {
    opacity: 1;
}

header .overlay .slider .carousel-inner .carousel-item.active .carousel-caption {
    opacity: 1;
}

header .overlay .slider .carousel-control-prev i,
header .overlay .slider .carousel-control-next i {
    padding: 30px 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

section.services {
    padding: 20px 0 60px;
}

section.services .title h2 {
    font-size: 40px;
    line-height: 60px;
}

section.services .title {
    margin-bottom: 50px;
}

section.services .card {
    background-color: #ffffff;
    margin-bottom: 50px;
    width: 100%;
    height: 250px;
    transition: all 1s ease-in-out;
}

section.services .card:hover {
    height: 350px;
    transition: height 0.5s ease-in-out;
}

section.services .card img {
    width: 140px;
    margin: 40px auto 0;
    transition: all 1s ease-in-out;
}

section.services .card .card-block h4 {
    font-size: 24px;
    color: #070c0c;
    line-height: 35px;
}

section.services .card .card-block p {
    font-size: 15px;
    color: #919191;
    line-height: 20px;
    opacity: 0;
    transition: all 1s ease-in-out;
    padding-left: 2px;
    padding-right: 2px;
    transition: opacity 0.5s ease-in-out;
}

section.services .card:hover .card-block p {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

section.gallery .title h2 {
    font-size: 40px;
    line-height: 60px;
}

section.gallery .title {
    margin-bottom: 50px;
}

section.gallery .work-gallery a {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 100%;
}

section.gallery .work-gallery a img {
    width: 100%;
}

section.gallery .work-gallery a .hover {
    background-color: rgba(22, 174, 202, 0.9);
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    color: #fff;
    opacity: 0;
    z-index: 9;
    transition: all .5s ease;
}

section.gallery .work-gallery a:hover .hover {
    opacity: 1;
}

section.gallery .work-gallery a .hover i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}

section.gallery .work-gallery .overlay-gallery {
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    right: 0px;
    top: 0px;
    width: 102%;
    height: 100vh;
    z-index: 30;
    overflow: hidden;
    padding: 5% 10%;
    opacity: 0;
    transition: all 1s ease;
    margin-top: -100vh;
    text-align: left;
}

section.gallery .work-gallery .overlay-gallery:target {
    opacity: 1;
    margin-top: 0;
}

section.gallery .work-gallery .overlay-gallery img {
    width: 100%;
}

section.gallery .work-gallery .overlay-gallery .gallery-text {
    margin: 40px;
}

section.gallery .work-gallery .overlay-gallery .gallery-text h3 {
    font-size: 36px;
    line-height: 52px;
    color: #16aeca;
    margin-bottom: 30px;
}

section.gallery .work-gallery .overlay-gallery .gallery-text ul {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #efefef;
    padding-right: 0;
}

section.gallery .work-gallery .overlay-gallery .gallery-text ul li a,
section.gallery .work-gallery .overlay-gallery .gallery-text ul li .fa {
    color: #555555;
}

section.gallery .work-gallery .overlay-gallery .gallery-text p {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 50px;
    color: #919191;
}

section.gallery .work-gallery .overlay-gallery .gallery-text a.visit {
    font-size: 20px;
    line-height: 50px;
    border-radius: 25px;
    padding: 0px 30px;
    background-color: #16aeca;
    color: #ffffff;
    width: auto;
}

section.gallery .work-gallery .overlay-gallery .gallery-text {
    margin-top: 40px;
}

section.gallery .work-gallery .overlay-gallery a.close {
    color: #16aeca;
    position: absolute;
    top: 4%;
    right: 10%;
    font-size: 30px;
    font-weight: bold;
    width: auto;
}

section.statistics {
    background-image: url(../images/bg2.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

section.statistics .overlay {
    background-color: rgba(22, 174, 202, 0.8);
    padding: 100px 0;
}

section.statistics .overlay .stat p {
    font-size: 18px;
    color: #85ecff;
    line-height: 22px;
}

section.statistics .overlay .stat .count {
    font-size: 40px;
    color: #ddfaff;
    line-height: 60px;
    font-weight: bold;
}

section.contacts {
    background-color: #fff;
    padding-top: 100px;
}

section.contacts .info h3 {
    font-size: 24px;
    color: #181c1c;
    line-height: 50px;
    font-weight: bold;
}

section.contacts .info ul li {
    font-size: 18px;
    color: #16aeca;
    line-height: 25px;
    margin-bottom: 15px;
}

section.contacts .info ul {
    padding: 0px;
}

section.contacts .info ul li i {
    margin-left: 6px;
}

section.contacts .form h3 {
    font-size: 24px;
    color: #181c1c;
    line-height: 50px;
    font-weight: bold;
    margin: 50px auto 20px;
}

section.contacts .form form input,
section.contacts .form form textarea {
    font-size: 15px;
    color: #5c5c5c;
    line-height: 25px;
    font-weight: bold;
    background-color: #f7f7f7;
    border: 2px solid #eee;
    border-radius: 3px;
}

section.contacts .form form button {
    font-size: 15px;
    color: #fff;
    line-height: 25px;
    background-color: #16aeca;
    border: 0px;
    padding: 10px 25px;
    border-radius: 3px;
    margin-left: 15px;
}

section.contacts .cmxform {
    width: 60%;
    margin: 0 auto 50px;
}

section.contacts .form form .error {
    color: red;
}

footer .top-footer {
    padding: 75px 0;
    background-color: #171717;
}

footer .top-footer h3 {
    font-size: 18px;
    color: #85ecff;
    line-height: 45px;
    margin-bottom: 30px;
    position: relative;
}

footer .top-footer h3:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 35px;
    height: 2px;
    background-color: #5c5c5c;
}

footer .top-footer p {
    font-size: 15px;
    color: #919191;
    line-height: 22px;
    margin-bottom: 50px;
}

footer .top-footer ul {
    padding: 0;
}

footer .top-footer ul.social li a i {
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 2px;
    background-color: #333333;
    color: #acacac;
    transition: all 0.5s ease;
}

footer .top-footer ul.social li {
    margin-right: 5px;
}

footer .top-footer ul.social li a:hover i {
    background-color: #16aeca;
    color: #fff;
}

footer .top-footer ul.contact-us li {
    color: #676767;
    margin-bottom: 35px;
    font-size: 18px;
}

footer .top-footer ul.contact-us li:last-of-type {
    margin-bottom: 0px;
}

footer .top-footer ul.contact-us li i {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: #282828;
    color: #acacac;
    border-radius: 2px;
    margin-right: 20px;
    transition: all 0.5s ease;
}

footer .top-footer ul.contact-us li i:hover {
    background-color: #16aeca;
    color: #fff;
}

footer .copyright {
    background-color: #111111;
}

footer .copyright p {
    font-size: 15px;
    line-height: 78px;
    color: #919191;
    margin-bottom: 0px;
}

@media (max-width: 767px) {
    .navbar {
        padding: .5rem 0rem;
    }
    nav.navbar .container {
        max-width: 100%;
    }
    .navbar .navbar-toggler {
        outline: none;
        margin: 0 !important;
    }
    .navbar .navbar-toggler span {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav.navbar .navbar-brand img {
        width: 80%;
    }
    nav.navbar .navbar-collapse {
        background-color: #16aeca;
    }
    nav.navbar.noTransparrent .navbar-collapse {
        background-color: #ffffff;
    }
    section.gallery .work-gallery .overlay-gallery .gallery-text h3 {
        font-size: 18px;
        line-height: 36px;
        margin-bottom: 10px;
    }
    section.gallery .work-gallery .overlay-gallery .gallery-text p {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 30px;
    }
    section.gallery .work-gallery .overlay-gallery .gallery-text a.visit {
        font-size: 14px;
        line-height: 40px;
    }
    section.contacts .cmxform {
        width: 100%;
    }
}

@media (max-width: 980px) {
    nav.navbar ul.navbar-nav li a.nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    header .overlay .slider .carousel-inner .carousel-item .carousel-caption h3 {
        font-size: 30px;
    }
    header .overlay .slider .carousel-inner .carousel-item .carousel-caption {
        bottom: 25%;
    }
    section.services .card {
        height: 290px;
    }
}

@media (max-width: 575px) {
    header .overlay .slider .carousel-inner .carousel-item .carousel-caption {
        left: 2%;
        right: 2%;
    }
    header .overlay .slider .carousel-control-prev,
    header .overlay .slider .carousel-control-next {
        display: none;
    }
    .work-gallery .col-md>.col-sm>a {
        display: block !important;
    }
    .work-gallery .col-md>.col-sm>a img {
        width: 100%;
    }
    section.gallery .work-gallery .overlay-gallery img {
        width: 50%;
    }
}